/materials/
/.venv/
/site/
/.cache/
/tmp/
/output/

# Fitxers auxiliars generats en compilar les figures LaTeX.
figures/tikz/**/*.aux
figures/tikz/**/*.log
figures/tikz/**/*.pdf
figures/tikz/**/*.synctex.gz
